
.tog{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-top: -3%;
padding: 20px;
margin-bottom: 30px;
height: 95%;
}

.containeer{
  height: 250px;
  width: 250px;
  background: linear-gradient(45deg, #b1d8b7, #2f5233);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
  border-radius: 50%;
  overflow: hidden;
  transition: all .3s ease-in-out;
  position: relative;
  margin: 10px;

}

.containeer{
  height: 520px;
  width: 450px;
  border-radius: 5px;
}

.containeer .wrapper img{
  width: 200px;
  height: 200px;
  border-radius: 5%;
  border: 5px solid #b1d8b7;
  display: block;
  margin: 20px auto;
  object-fit: cover;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.containeer:hover .wrapper img.active{
  width: 350px;
  height: 470px;
  border: none;
  margin: 0 auto;
  border-radius: 5px;
}

.wrapper .title{
  font-size: 30px;
  color: #b1d8b7;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.wrapper .place{
  color: #e0e0e0;
  font-size: 17px;
  margin: 10px 0;
  text-align: center;
}

.contentt{
  color: #e0e0e0;
  font-size: 17px;
  margin: 20px 0;
  text-align: center;
}

.contentt .buttonn{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.contentt .buttonn .btn{
  width: 150px;
  height: 40px;
  margin: 0 5px;
}


.contentt .buttonn .btn button{
  background-color: #2f5233;
  color: #ffffffdc;
  width: 100%;
  height: 100%;
  font-family: 'vazir';
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.contentt .buttonn .btn button:hover{
  transform: scale(.95);
}

.icon{
 right: 30px;
 display: flex;
}

.icon.active{
  display: none;
}

.icon li{
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0px 5px;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.containeer:hover .icon li{
  opacity: 1;
}

.containeer:hover .icon li:nth-child(2){
  transition-delay: .2s;
}

.containeer:hover .icon li:nth-child(3){
  transition-delay: .4s;
}

.icon li a{
  color: #2f5233;
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
