*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'vazir' !important;
  box-sizing: border-box;  
  margin: 0; 
  padding: 0; 
}
body {
  direction: rtl;
  font-family: 'vazir' !important;
  background: linear-gradient(45deg,#94c973, #76b947);
}


.main-website {  
  display: flex; 
  flex-wrap: wrap; 
  width: 100%;  
}  

.component {  
  flex: 1 1 auto; 
}

header{
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  border-radius: 0 0 5px 5px;
}

a{
  letter-spacing: 2px;
  color: #2f5233

;
}
a:hover{
  color: rgba(75, 61, 164, 1);
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li{
  margin-left: 20px;
}


.menu{
  display: none;
}

.products{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
  
}

.products .card{
  flex: 0 0 calc(25% - 20px);
  max-width: calc(25% - 20px);
  background: #fff;
  box-shadow: 0 0 5px #b1d8b7;
  padding: 15px;
  border-radius: 20px; 

}

.card img{
  width: 100%;
  height: 300px;
  object-fit: contain;
  display: block;

}

.card .box{
  margin: 15px 0;
  
}


.card .box p{
  margin: 10px 0;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #2f5233;
}


.card .box h4{
  color: crimson;
}

.card .box button{
  width: 100%;
  border: none;
  outline: none;
  background: #2f5233;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 20px; 

}


.cart-icon{
  position: relative;
  margin-right: 35px;
  margin-top: 10px;
}

.cart-icon span{
  background: crimson;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #fff;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 10px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* detail */

.details {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1200px; 
  background-color: #fff;
}
/* cart */


.cart{
  position: relative;
  border: 1px solid #d7c3f3ff;
  transform: scaleY(.98);
  -webkit-transform: scaleY(.98);
  -moz-transform: scaleY(.98);
  -ms-transform: scaleY(.98);
  -o-transform: scaleY(.98);
  height:25vh;
  width:70%;
  border-radius:20px;
}

.box-detailscart{
  height:20vh;
}

.amount span{
  color: crimson;
  padding: 0 20px;
}


.amount .count{
  width: 40px;
  height: 30px;
  border: 1px solid #555;
  outline: none;
 background-color: #2f5233;
  cursor: pointer;
}

.delete{
  position: absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
  font-weight: 900;
  color:#8b0000;
}
.total{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.total a{
  background: #271a3ceb;
  color: white;
  padding: 10px 25px;
    border-radius:15px;

}

.total h3{
  background: #2f5233;
  color: white;
  padding: 10px 25px;
  border-radius:15px;
}

.total button {
background-color: #2f5233;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Vazirmatn', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.total button:hover {
  background-color: #388e3c; 
  transform: scale(0.98); 
}


@media (max-width: 768px) {
  .details {
    text-align: center;
  }

  .details {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1200px;
    background-color: #fff;
  }
        .cart {
        height: 25vh;
        width: 80%;
    }
}


.close-btn {
  position: fixed;  
  top: 100px;           
  right: 10px;         
  z-index: 1000;       
  font-size: 1.5rem;     
background: linear-gradient(45deg, #d0cfd8f8, #8a81f2ff);
color: rgb(19, 5, 79);
  border-radius: 10px; 
  padding:10px;      
  cursor: pointer; 
}


.details .img-container{
  max-width: 400px;
  width: 100%;
  margin: 20px;
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;

}

.details .img-container:hover{
  background-size: 100%;
  border: 1px solid #ddd;
  cursor: zoom-in;
    height:40vh;
}

.box-details{
  max-width: 400px;
  width: 100%;
  margin: 10px;
    background-color: #ffffffff;  


}

.box-details h2{
  color: #2f5233;
  letter-spacing: 2px;
}
.box-details h3{
  margin: 10px 0;
}
.box-details button{
  border: 1px solid #271a3ceb;
  cursor: pointer;
  background: #271a3ceb;
  color: #fff;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 20px; 

}
.colors button{
  width: 35px;
  height: 35px;
}

.box-details p{
  line-height: 1.5;
  margin: 10px 0;
  opacity: .8;
}

.box-details .thumb{
  display: flex;
  cursor: pointer;
}

.box-details .thumb img{
  width: 50px;
  margin: 20px;
  overflow: hidden;
    background-color: #ffffffff;  

}

.box-details .cart{
  width: 200px;
  height: 35px;
  letter-spacing: 2px;
}






@media (max-width: 1650px){
  .container{
    width: 100%;
  }
 
  
  .component {  
    flex: 1 1 auto; /* اجازه به کامپوننت‌ها برای اندازه‌گیری خود */  
  }
  .products .card{
    flex: 0 0 calc(50% - 20px);
    max-width: calc(30% - 5px);
    margin-top: 35px;
  }
}
@media (max-width: 1400px){
  .container{
  }
 
  
  .component {  
    flex: 1 1 auto; /* اجازه به کامپوننت‌ها برای اندازه‌گیری خود */  
  }
  .products .card{
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-top: 35px;
  }
}
@media (max-width: 992px){
  .container{
    width: 960px
  }
  
}
@media (max-width: 768px){
  .container{
    width: 720px
  }

  header ul{
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background: linear-gradient(45deg, #2f5233, #94c973);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .96;
    z-index: 99;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    
}
li  {
    display: block; 
    width: 95%; 
    height: 60px; 
    line-height: 60px;
    background-color: #b1d8b7;
    border-radius: 25px;
    margin: 15px 16px; 
    text-decoration: none;
    color: #333;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: center; 
    transition: background-color 0.3s ease;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
}

li {
    transition: all 0.3s ease; 
}

li:hover {
    background-color: #ffffffcb;
    color: #000;
    transform: scale(0.85); 
}
li a:hover {
    background-color: #ffffffcb;
    color: #000;
    transform: scale(0.85); 
}

.products .card{
  flex: 0 0 calc(100%);
  max-width: calc(100%);
  margin-top: 35px;
}
.menu{
  display: block;
  cursor: pointer;
  margin: 10px;
  text-align: center; 
  color:#2f5233;

}



}
@media (max-width: 576px){
  .container{
    width: 100%;
  }
  header{
    justify-content: space-between;
  }

  .details{
    padding: 0;
      background-color: #ffffffff;  

  }
  .box-details .thumb img{
      background-color: #ffffffff;  

    width: 40px;
  }
  .details .img-container{
    height: 350px;
  }

}

@media (max-width: 700px){
.box-details h2 {
    letter-spacing: 2px;
    font-size: 1rem;
}
.cart{
  height:25vh;
  width:80%;
}
}
@media (max-width: 459px){
.box-details h2 {
    letter-spacing: 2px;
    font-size: 1rem;
}
.cart{
  height:35vh;
  width:90%;
}
}
